* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/* body{
    width: 960px;
    margin: 0 auto;
} */
img {
    width: 100%;
    display: block;
}
/* 
=======
hero
======
 */

header {
    /* background-color:aqua; */
    height: 100vh;
    width: 90vw;
}
h1 {
    margin-bottom: 3rem;
}

.hero-section {
    display: grid;
    place-items: center;
    margin: 0 auto;
    margin-bottom: 3rem;
}
.hero-info {
    padding-left: 1.25rem;
}
.hero-img {
    display: none;
}
.header-text {
    margin-bottom: 2rem;
}


@media screen and (min-width: 992px){
    .hero-img {
    display: block;
}
.hero-photo {
    width: 100%;
    max-height: 40rem;
    object-fit: cover;
}
.hero-section {
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 2rem;
}
}

/* 
========
features
========
 */
.features {
    /* background-color: royalblue; */
    width: 90vw;
    height: auto;
    margin: 0 auto;
    margin-bottom: 3rem;
}
.section-title h2 {
    padding: 2rem 1.25rem;
}
.single-feature {
    margin-bottom: 1.25rem;
    padding-left: 1.25rem;
}
.feature-title {
    margin-bottom: 0.75rem;
}
@media screen and (min-width: 992px) {
.section-center {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
}
}

.testimonial {
    width: 90vw;
    margin: 0 auto;
    
}
.testimonial-img {
    margin-bottom: 1.25rem;
}
.testimonial-box h2 {
    margin-bottom: 1.25rem;
    padding-left: 1.25rem;
}
@media screen and (min-width: 992px) {
    .testimonial {
        display: flex;
        margin-bottom: 2rem;
    }
    .testimonial-img {
        max-width: 20rem;
        max-height: 15rem;
        object-fit: cover;
        margin-right: 1.25rem;
    }
    .testimonial-box {
        align-self: center;
    }
}
.sells {
    width: 90vw;
    margin: 0 auto;
    margin-bottom: 2rem;
}

@media screen and (min-width: 992px) {
    .sells-center {
        display: grid;
        grid-template-columns: repeat(3,1fr);
        column-gap: 2rem;
    }
    .chair-img {
        height: 500px;
        object-fit: cover;
        margin-bottom: 1.25rem;
    }
    .card-info {
        margin-left: 1.25rem;
    }
}
footer {
    border-top: solid #222;
    text-align: center;
    padding: 1rem;
}